
@import "../../../_Core/Scss/Variable";
nav {
    padding: 0 15px;
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
        padding: 0;
        img {
            height: 75px;
        }
    }
    .menu {
        ul {
            list-style: none;
            display: flex;
            justify-content: start;
            align-items: center;
            margin: 0;
            li {
                white-space: nowrap;
                a {
                    display: block;
                    padding: 0 10px;
                    text-decoration: none;
                    font-weight: normal;
                    font-size: 1.2em;
                    &.selected {
                        font-weight: 550;
                    }
                }
                &.user-nav-item {
                    display: none;
                }
            }
            
        }
    }
    .search {
        width: 100%;
        padding-left: 50px;
        form {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            input {
                width: 100px;
                transition: 0.75s;
                &:focus {
                    width: 100%;
                    box-shadow: none;
                }
            }
        }
    }
    .user {
        color: $color-text-menu;
    }
    .icon-show-menu {
        display: none;
    }

}

@media all and (max-width:768px){
    nav {
        padding: 0 5px;
        position: relative;
        .menu {
            position: absolute;
            z-index: 100;
            background: white;
            display: block;
            top: 100%;
            right: 0px;
            min-width: 0;
            width: 0;
            overflow: hidden;
            transition: 0.5s;
            &.active {
                min-width: 200px;
            }

            ul {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                width: 100%;
                padding: 0;
                li {
                    border-bottom: 1px solid rgba(51, 51, 51, 0.658);
                    width: 100%;
                    padding-top: 20px;
                }
                li {
                    &.user-nav-item {
                        display: block;
                    }
                }
            }
        }
        .search {
            width: 100%;
            form {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                input {
                    width: 100%;
                    &:focus {
                        box-shadow: none;
                    }
                }
            }
        }    
        .user {
            display: none;
        }    
        .icon-show-menu {
            display: block;
            mat-button-toggle {
                border-radius: 3px;
                border: 2px solid $color-text-menu;
                background-color: $color-text-menu;
                color: white;
                &.mat-button-toggle-checked {
                    background-color: white;
                    color: $color-text-menu;                    
                }
            }
        }
    }
}