<nav>
  <a class="navbar-brand logo" [routerLink]="[ '/' ]">
    <img src="./assets/images/logo.png" class="image-logo" alt="HungKing.IO">
  </a>

  <div class="menu" [ngClass]="{'active': VarShowMenuOnPhone}" data-phoneShow="false">
    <ul>
      <li class="user-nav-item">
        <a  routerLinkActive="active" [routerLink]="[ '/' ]">Đăng nhập</a>
      </li>
      <li class="">
        <a class="" routerLinkActive="active" [routerLink]="[ '/' ]">Trang Chủ</a>
      </li>
      <li >
        <a  routerLinkActive="active" [routerLink]="[ '/showtimes' ]">Lịch Chiếu</a>
      </li>
      <li>
        <a  routerLinkActive="active" [routerLink]="[ '/cinema' ]">Rạp Chiếu</a>
      </li>
      <li>
        <a  routerLinkActive="active" [routerLink]="[ '/cinema' ]">Tin Tức</a>
      </li>
      <li>
        <a routerLinkActive="active" [routerLink]="[ '/cinema' ]">Liên Hệ</a>
      </li>
    </ul>
  </div>


  <div class="search mr-3">
    <form class="form-inline form-search my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search..." aria-label="Search">
    </form>
  </div>

  <div class="user">
    <ng-container *ngIf="true; else UserTeamplate">
      <button mat-button [matMenuTriggerFor]="beforeMenu">
        <mat-icon aria-hidden="false" aria-label="Example home icon">account_circle</mat-icon>Chào khách
      </button>
      <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button mat-menu-item>Đăng nhập</button>
        <button mat-menu-item>Đăng kí</button>
      </mat-menu>
    </ng-container>
    <ng-template #UserTeamplate>
      <button mat-button [matMenuTriggerFor]="beforeMenu">Admin</button>
      <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button mat-menu-item>Đăng nhập</button>
        <button mat-menu-item>Đăng kí</button>
      </mat-menu>
    </ng-template>



  </div>

  <div class="icon-show-menu">
    <mat-button-toggle value="bold" (click)="showMenuOnPhone()">
      <mat-icon aria-hidden="false" aria-label="Example home icon">menu</mat-icon>
    </mat-button-toggle>
  </div>

</nav>