<nav class="navbar navbar-expand-md navbar-light">
  <a class="navbar-brand" [routerLink]="[ '/' ]">
    <img src="./assets/images/logo.png" class="image-logo" alt="HungKing.IO">
  </a>

  <form class="form-inline form-search my-2 my-lg-0">
    <div class="serch-container">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <!-- <button class="btn my-2 my-sm-0" type="submit">S</button> -->
    </div>
  </form>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="[ '/' ]">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="[ '/showtimes' ]">Lịch chiếu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="[ '/cinema' ]">Rạp chiếu</a>
      </li>
    </ul>
    <form class="form-inline form-search my-2 my-lg-0">
      <div class="serch-container">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <!-- <button class="btn my-2 my-sm-0" type="submit">S</button> -->
      </div>
    </form>
    <div class="mr-2">Chào khách</div>
  </div>
</nav>

